.edit_box{
    color: gray;
    background: white;
    padding: 2%;
    border: 1px gainsboro solid;
    overflow: auto;
}
.row{
margin-top: 5%;

}
input{
    width: 100%;

}
#editor-container{
    width: 100%;
    height: 30rem;

}