 <li class="article col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pic ">
            <img src="{{url_for('static',filename='images/53825312.jpg')}}" class="img-responsive pull-left" alt="Image"
                title="Image">
        </div>
        <div class="article-right ">
            <h4 class="blue-text "><a href="#" title="Python图片验证码降噪 — 8邻域降噪">Python图片验证码降噪
                    — 8邻域降噪</a></h4>
            <p class="article-content">
                所谓降噪就是把不需要的信息通通去除，比如背景，干扰线，干扰像素等等，只留下需要识别的字符，让图片变成2进制点阵，方便代入模型训练。
            </p>
            <ul class="article-footer">
                <li><a title="j_hao1042019年1月30日 发表 ">
                        <i class="glyphicon glyphicon-time" style="color:orange;"></i>
                        2019年1月30日</a></li>
                <li><a href="#" title="已有 0 条评论"><i class="glyphicon glyphicon-envelope "
                            style="color:orange;"></i>0</a>
                </li>
                <li><a title="已有 312 次浏览"><i class="glyphicon glyphicon-eye-open "
                            style="color:orange;"></i>312
                    </a></li>
                <li class="hidden-xs  hidden-sm" style="float:right;"><a href="#" title="查看分类"><i
                            class="glyphicon glyphicon-th-list "
                            style="color:orange;"></i>Python大法</a></li>
            </ul>
        </div>
 </li>