 <li class="article col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pic ">
            <img src="{{article.logo_photo}} " class="img-responsive pull-left" alt="Image"
                title="{{article.title}}">
        </div>
        <div class="article-right ">
            <h4 class="blue-text "><a href="{{url_for('Web.articleDetails',id=article.aid)}}" title="{{article.title}}">{{article.title}}</a></h4>
            <p class="article-content">
                <a href="{{url_for('Web.articleDetails',id=article.aid)}}" title="查看详情" style="text-decoration: none;">{{article.summary}}</a>
            </p>
            <ul class="article-footer">
                <li><a title="{{article.user.username}}发表 ">
                        <i class="glyphicon glyphicon-time" style="color:orange;"></i>
                        {{ moment(article.create_time.date()).format('LL') }}</a></li>
                <li><a href="#" title="已有 {{len(article.comment)}} 条评论"><i class="glyphicon glyphicon-envelope "
                            style="color:orange;"></i>{{len(article.comment)}}</a>
                </li>
                <li><a title="已有 {{article.num_of_view}} 次浏览"><i class="glyphicon glyphicon-eye-open "
                            style="color:orange;"></i>{{article.num_of_view}}
                    </a></li>
                <li class="hidden-xs  hidden-sm" style="float:right;"><a href="{{url_for('Web.articleClass',id=article.articleclass.acid)}}" title="查看分类"><i
                            class="glyphicon glyphicon-th-list "
                            style="color:orange;"></i>{{article.articleclass.name}}</a></li>
            </ul>
        </div>
 </li>