{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block title %} Blog {% endblock %}
{% block stylesheet %}
{{ super() }}
{% endblock %}
{% block leftcontent %}
{% include "_article_entry.html" %}

<!-- 分页 -->
<div class="col-lg-12 text-center">
   {% if endpoint == '.index' %}
        {{ macros.pagination_widget(pagination, endpoint) }}
    {% else %}
        {{ macros.pagination_widget(pagination, endpoint, id=id) }}
    {% endif %}
</div>

{% endblock %}
{% block rightcontent %}
{% include "rightcontent.html" %}
{% endblock %}
{% block script %}
{{super()}}
{% endblock %}